@import "variables";

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    background-color: $button-color;
    padding: 4px 12px;
    border-radius: 4px;

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;

        font-size: 14px !important;
    }
}

.live_search {
    width: 100%;
    display: flex;
    // position: relative;

    // svg {
    //     position: absolute;
    //     left: 6px;
    // }

    input {
        border: 1px solid rgba(62, 87, 90, 0.32);
        padding: 8px;
        background-color: #2b2b2d;
        border-radius: 4px;
        color: white;

        &:focus {
            outline: none;
        }
    }
}