.content {
    padding: 36px 20px;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.sidebar_toggle {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
        font-size: 26px;
        cursor: pointer;
    }
}